Dashboard/node_2.json
[
    {
        "id": "f67b82feec59716b",
        "type": "tab",
        "label": "Node_2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a43d53f215a74995",
        "type": "ui_chart",
        "z": "f67b82feec59716b",
        "name": "",
        "group": "480901f20b7afbd5",
        "order": 1,
        "width": 11,
        "height": 7,
        "label": "Current Tension",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "be0959f5fcbecaf1",
        "type": "ui_chart",
        "z": "f67b82feec59716b",
        "name": "",
        "group": "f1b1066f4baa24e8",
        "order": 1,
        "width": 11,
        "height": 7,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bd0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2d703a9ace6afb3f",
        "type": "ui_chart",
        "z": "f67b82feec59716b",
        "name": "",
        "group": "f1b1066f4baa24e8",
        "order": 2,
        "width": 11,
        "height": 7,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0a9400",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4c35e6647b6cbced",
        "type": "ui_chart",
        "z": "f67b82feec59716b",
        "name": "",
        "group": "480901f20b7afbd5",
        "order": 2,
        "width": 11,
        "height": 7,
        "label": "RGB",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff00",
            "#0000ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "52c9026e33317230",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Temperature",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 1){\n    return {payload:Number(data[1])};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "b25cd55ef5a5db27",
                "be0959f5fcbecaf1"
            ]
        ]
    },
    {
        "id": "6074143ff8b340d4",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Humidity",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 1) {\n    return { payload: Number(data[3]) };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "2d703a9ace6afb3f"
            ]
        ]
    },
    {
        "id": "7b3f513e2c42fce2",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Red",
        "func": "let data = msg.payload.split(\"|\");\n\nif (data[0] == 1) {\n    msg.topic   = \"Red\"\n    msg.payload = Number(data[5]);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4c35e6647b6cbced"
            ]
        ]
    },
    {
        "id": "0ec5398b1cda17e8",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Green",
        "func": "let data = msg.payload.split(\"|\");\n\nif (data[0] == 1) {\n    msg.topic = \"Green\"\n    msg.payload = Number(data[6]);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "4c35e6647b6cbced"
            ]
        ]
    },
    {
        "id": "4e70d3f1c3c02b8a",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Blue",
        "func": "let data = msg.payload.split(\"|\");\n\nif (data[0] == 1) {\n    msg.topic   = \"blue\"\n    msg.payload = Number(data[7]);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "4c35e6647b6cbced"
            ]
        ]
    },
    {
        "id": "257cd504d12b19d2",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "Volteg",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 1){\n    return {payload:Number(data[4])};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "a43d53f215a74995"
            ]
        ]
    },
    {
        "id": "b25cd55ef5a5db27",
        "type": "debug",
        "z": "f67b82feec59716b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "8d38705bd2593721",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 2,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Core",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "f1f4052472628a4c",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 1,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Node ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "2e1e2e1e2f2a4e7b",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 3,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Clock frequency",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "9a4ae58437270ccb",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Flash memory",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "ba63358bc1501756",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 5,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "SRAM",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "5cae0598e15c82c5",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Sensor Number",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 800,
        "wires": []
    },
    {
        "id": "1cdb6631c6634ca7",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Node Type",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "STM32F446RE",
        "payloadType": "str",
        "x": 120,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "41cacb7e1199ddb0",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Clock frequency",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "180 MHz",
        "payloadType": "str",
        "x": 120,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3717111f668f93d3",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Flash memory",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "512 KB",
        "payloadType": "str",
        "x": 130,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65bfbad2128e1d4f",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Core",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ARM Cortex M4 32-bit",
        "payloadType": "str",
        "x": 110,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4c58dd46ca9ea6d1",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "SRAM",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "128 KB",
        "payloadType": "str",
        "x": 110,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d989ada71e908ad7",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Sensore ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 120,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "501f428709dfdbc2",
        "type": "ui_switch",
        "z": "f67b82feec59716b",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "71cfad653004f00f",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 790,
        "y": 920,
        "wires": [
            [
                "e1fba15d315ad458"
            ]
        ]
    },
    {
        "id": "27606f045de84084",
        "type": "ui_dropdown",
        "z": "f67b82feec59716b",
        "name": "",
        "label": "Tansmission Power",
        "tooltip": "",
        "place": "Select option",
        "group": "71cfad653004f00f",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High ",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 1160,
        "wires": [
            [
                "62266797b2962392"
            ]
        ]
    },
    {
        "id": "bf60837d3530140b",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Transmission Power",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "186edfeeaed40903",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Transmission Power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Low",
        "payloadType": "str",
        "x": 130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d0c94b03e78dd34b",
        "type": "ui_text",
        "z": "f67b82feec59716b",
        "group": "2330624e5eaf2234",
        "order": 7,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Distance (m)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "fb10fbd23b069c92",
        "type": "inject",
        "z": "f67b82feec59716b",
        "name": "Distance (m)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "x": 110,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "41a94e7b95de94b0",
        "type": "mqtt in",
        "z": "f67b82feec59716b",
        "name": "Node 2",
        "topic": "esp32/node1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d7c54e0f4890bb00",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "52c9026e33317230",
                "6074143ff8b340d4",
                "7b3f513e2c42fce2",
                "0ec5398b1cda17e8",
                "4e70d3f1c3c02b8a",
                "257cd504d12b19d2",
                "46d708367820342f",
                "88a4690f1dbb77f8",
                "554fbe7637b8d5a5",
                "d8c457fad27f215b",
                "abf98f7fe7ad8653",
                "c649cad42165f9bb",
                "4ef4faad7b97218b",
                "3de55606ae33ca4a",
                "303cf85c35dc2961"
            ]
        ]
    },
    {
        "id": "46d708367820342f",
        "type": "debug",
        "z": "f67b82feec59716b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "e1fba15d315ad458",
        "type": "mqtt out",
        "z": "f67b82feec59716b",
        "name": "Node2 Sub Led",
        "topic": "esp32/node2/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7c54e0f4890bb00",
        "x": 1100,
        "y": 920,
        "wires": []
    },
    {
        "id": "62266797b2962392",
        "type": "mqtt out",
        "z": "f67b82feec59716b",
        "name": "Node2 Sub Power",
        "topic": "esp32/node2/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7c54e0f4890bb00",
        "x": 1110,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d8c457fad27f215b",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 16",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[3]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "2e1e2e1e2f2a4e7b"
            ]
        ]
    },
    {
        "id": "abf98f7fe7ad8653",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 17",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[4]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "9a4ae58437270ccb"
            ]
        ]
    },
    {
        "id": "c649cad42165f9bb",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 18",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[5]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "ba63358bc1501756"
            ]
        ]
    },
    {
        "id": "4ef4faad7b97218b",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 19",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[6]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 800,
        "wires": [
            [
                "5cae0598e15c82c5"
            ]
        ]
    },
    {
        "id": "3de55606ae33ca4a",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 20",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[7]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 840,
        "wires": [
            [
                "d0c94b03e78dd34b"
            ]
        ]
    },
    {
        "id": "303cf85c35dc2961",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 21",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[8]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "bf60837d3530140b"
            ]
        ]
    },
    {
        "id": "554fbe7637b8d5a5",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 25",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[2]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "8d38705bd2593721"
            ]
        ]
    },
    {
        "id": "88a4690f1dbb77f8",
        "type": "function",
        "z": "f67b82feec59716b",
        "name": "function 26",
        "func": "let data = msg.payload.split(\"|\");\nif (data[0] == 3){\n    msg.payload = data[1]\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 600,
        "wires": [
            [
                "f1f4052472628a4c"
            ]
        ]
    },
    {
        "id": "480901f20b7afbd5",
        "type": "ui_group",
        "name": "Analog Data",
        "tab": "697017a57d632d0f",
        "order": 3,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "f1b1066f4baa24e8",
        "type": "ui_group",
        "name": "DHT22 Data",
        "tab": "697017a57d632d0f",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "2330624e5eaf2234",
        "type": "ui_group",
        "name": "Node Characteristic",
        "tab": "697017a57d632d0f",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "71cfad653004f00f",
        "type": "ui_group",
        "name": "Command ",
        "tab": "697017a57d632d0f",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "d7c54e0f4890bb00",
        "type": "mqtt-broker",
        "name": "Gateway",
        "broker": "192.168.121.178",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "697017a57d632d0f",
        "type": "ui_tab",
        "name": "Node 2",
        "icon": "fa-bar-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
